<table
	border="0"
	cellpadding="0"
	cellspacing="0"
	style="margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif"
	width="100%"
>
	<tr>
		<td align="center">
			<div style="max-width: 600px; width: 100%">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td style="display: block; margin-bottom: 1rem; font-size: 1.25rem">
							<b>Здравствуйте!</b>
						</td>
					</tr>
					<tr>
						<td
							style="
								display: block;
								margin-bottom: 1rem;
								line-height: 1.25;
								font-size: 14px;
							"
						>
							На сайте Вашего партнера
							<b>
								<a
									href="https://etpfs.ru/"
									target="_blank"
									style="text-decoration: none"
								>
									etpfs.ru
								</a>
							</b>
							поступила заявка на продукт <b>Банковская гарантия</b>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px">
							<span style="display: block; margin-bottom: 4px"
								><b>Номер заявки:</b></span
							>
							<span
								style="
									display: block;
									width: 100%;
									line-height: 1.25;
									margin-bottom: 1.5rem;
								"
								>{{ApplicationId}}</span
							>
						</td>
					</tr>
					<tr>
						<td style="display: block; font-size: 1.2rem">
							<span style="display: block; margin-bottom: 10px"
								><b>Данные заявителя</b></span
							>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px">
							<span style="display: block; margin-bottom: 4px">Фамилия:</span>
							<span
								style="
									display: block;
									width: 100%;
									line-height: 1.25;
									margin-bottom: 1rem;
								"
								>{{LastName}}</span
							>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px">
							<span style="display: block; margin-bottom: 4px">Имя:</span>
							<span
								style="
									display: block;
									width: 100%;
									line-height: 1.25;
									margin-bottom: 1rem;
								"
								>{{FirstName}}</span
							>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px">
							<span style="display: block; margin-bottom: 4px">Телефон:</span>
							<span
								style="
									display: block;
									width: 100%;
									line-height: 1.25;
									margin-bottom: 1rem;
								"
								>{{Phone}}</span
							>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px">
							<span style="display: block; margin-bottom: 4px">Email:</span>
							<span
								style="
									display: block;
									width: 100%;
									line-height: 1.25;
									margin-bottom: 1rem;
								"
								>{{Email}}</span
							>
						</td>
					</tr>
					<tr style="display: block; margin-top: 1rem">
						<td style="display: block; font-size: 1.2rem">
							<span style="display: block; margin-bottom: 10px"
								><b>Детали заявки</b></span
							>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px">
							<span style="display: block; margin-bottom: 4px"
								>Наименование организации:</span
							>
							<span
								style="
									display: block;
									width: 100%;
									line-height: 1.25;
									margin-bottom: 1rem;
								"
								>{{OrganizationName}}</span
							>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px">
							<span style="display: block; margin-bottom: 4px">ИНН организации:</span>
							<span
								style="
									display: block;
									width: 100%;
									line-height: 1.25;
									margin-bottom: 1rem;
								"
								>{{CompanyInn}}</span
							>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px">
							<span style="display: block; margin-bottom: 4px">Сумма гарантии:</span>
							<span
								style="
									display: block;
									width: 100%;
									line-height: 1.25;
									margin-bottom: 1rem;
								"
								>{{Amount}}</span
							>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px">
							<span style="display: block; margin-bottom: 4px"
								>Цель получения банковской гарантии:
							</span>
							<span
								style="
									display: block;
									width: 100%;
									line-height: 1.25;
									margin-bottom: 1rem;
								"
								>{{Target}}</span
							>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>
